<ion-tabs>

  <ion-tab-bar slot="bottom"  style="box-shadow: -4px -3px 6px 1px rgb(0 0 0 / 10%)">
    <ion-tab-button tab="tab1">
        <svg class="heart" id="spinner" viewBox="0 0 32 29.6">
          <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
          c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
        </svg>
      <ion-label  style="color:#075E55;font-weight: bolder;font-size: 15px;">Surprise</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
